<div class="header">
<h4>SURFBOARD</h4>
<div class="navbar">
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">HOME</a></li>
    <li><a routerLink="/sign-up" routerLinkActive="active">SIGN UP</a></li>
    <li><a routerLink="/login" routerLinkActive="active">LOGIN</a></li>
    <li><a routerLink="/contact-us" routerLinkActive="active">CONTACT-US</a></li>
    <li><a routerLink="/about-us" routerLinkActive="active">ABOUT-US</a></li>
 </ul>
</div>
<div class="signup">
  <input type="text" placeholder="Name">
  <input type="email" placeholder="Email id">
  <input type="password" placeholder="password">
  <input type="password" placeholder="confirm password">
  <input type="submit" onclick="">
</div>
<router-outlet></router-outlet>